body {
    font-family: 'Roboto', sans-serif;
    background-color: #e4fad0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    background-image: url('bacground image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8); /* Lightly transparent background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    font-weight: 500;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #555;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
    background-color: rgba(255, 255, 255, 0.8); /* Lightly transparent input background */
    border-color: #00ff2a;
    outline: none;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #07e821;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 20px rgba(116, 255, 167, 0.8);
}

button[type="submit"]:hover {
    background-color: #00ff0dac;
    box-shadow: 0 0 10px rgba(164, 255, 181, 0.599);
}

.form-group.checkbox {
    display: flex;
    align-items: center;
}

.form-group.checkbox label {
    margin-bottom: 0;
    margin-right: 10px;
}

.form-group.checkbox input {
    width: auto;
    margin-right: 5px;
}
