<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="form-container">
        <h1>Registration Form</h1>
        <form action="/submit" method="post">
            <div class="form-group">
                <label for="first-name">First Name:</label>
                <input type="text" id="first-name" name="firstName" required>
            </div>
            <div class="form-group">
                <label for="last-name">Last Name:</label>
                <input type="text" id="last-name" name="lastName" required>
            </div>
            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" id="age" name="age" required>
            </div>
            <div class="form-group">
                <label for="email">Email ID:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="id-card-number">ID Card Number:</label>
                <input type="text" id="id-card-number" name="idCardNumber" required>
            </div>
            <div class="form-group checkbox">
                <input type="checkbox" id="privacy-agreement" name="privacyAgreement" required>
                <label for="privacy-agreement">
                    Sie haben mesana im Rahmen einer Leistungserbringung durch Ihren Arbeitgeber erhalten. Sie willigen ein, dass Informationen in gleichzeitig 
                    anonymisierter und aggregierter Form (d.h. als Mittelwert über eine ausreichend große Gruppe, so dass eine Rückführung auf Ihre Person nicht 
                    möglich ist) Ihrem Arbeitgeber weitergegeben werden. Ihre personalisierten Gesundheitsdaten werden nicht an Dritte weitergegeben.
                    </label>
            </div>
            <div class="form-group checkbox">
                <input type="checkbox" id="data-access-agreement" name="dataAccessAgreement">
                <label for="data-access-agreement">Nachdem Sie Ihren Gesundheitsbericht erhalten haben, werden Ihre Gesundheitsdaten von uns in anonymisierter Form (d.h. mit gelöschtem 
                    Pseudonym und ohne Personenbezug) für Forschungszwecke und zur Verbesserung von mesana verwendet. In diesem Zusammenhang dürfen 
                    die anonymisierten Gesundheitsdaten in aggregierter Form veröffentlicht werden</label>
            </div>
            <div class="form-buttons">
                <button type="button" onclick="window.location.href='/';">Cancel</button>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>